header, button, p, #enterQuestionAndAnswer, #h2Questions, #navOl {
    display: none;
}

#modalContainerPointHasBeenUpdated {
    visibility: hidden;
}

.containerOl {
    display: flex;
    justify-content: center;
}

.olDisplayQuestionAndAnswer {
    width: 500px;
    margin-right: 10px;
    margin-left: 10px;
}

#containerOlAnswers, #containerOlQuestions, .liForQuestion {
    page-break-after: always;
}

li {
    border: none;
}